.happen__container {
  min-height: 90vh;
  background: #fff;
}

.happen__wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
}

.happen__wrapper > h1 {
  color: #f2df3a;
}

.happen__wrapper div {
  width: 10%;
  height: 0.5rem;
  background-color: #0078aa;
}

.happen__card {
  width: 390px;
  height: 250px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/lok.jpg") no-repeat center;
  background-size: cover;
  border-radius: 6px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.happen__button {
  position: absolute;
  bottom: -20px;
  z-index: 10;
}

.happen__button > button {
  padding: 15px;
  outline: none;
  border: none;
  background-color: #0078aa;
  border-radius: 4px;
  color: #f6f6f6;
  font-size: 15px;
}

.tryme {
  min-height: 60vh;
}
