.sermon__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.sermon__col__card {
  display: flex;
  align-items: center;
  height: 80px;
  flex-wrap: wrap;
  gap: 2rem;
}

.sermon__wrapper1 {
  padding-block: 32px;
  text-align: center;
}

.sermon__wrapper1 h1 {
  color: rgb(41, 41, 41);
}

.sermon__wrapper1 p {
  color: rgb(61, 61, 61);
  margin-bottom: 2rem;
}

.sermon__col__img {
  height: 80px;
  border-radius: 10px;
}

.sermon__col__img > img {
  height: 100%;
}

.sermon__col__text h2 {
  color: rgb(41, 41, 41);
}

.sermon__col__text p {
  color: rgb(61, 61, 61);
}

@media screen and (max-width: 1024px) {
  .sermon__grid {
    grid-template-columns: 1fr;
  }
}
