.luck__container {
    margin: 0 20px;
}

.luck__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

input {
    display: block;
    width: 90%;
    margin: 0 auto;
    outline: none;
    border: none;
    padding: 1rem;
    margin-block: 1rem;
}

.about__wrapper1 > img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.give__button {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    background-color: #0078aa;
    color: #f6f6f6;
    outline: none;
    border: none;
    cursor: pointer;
}