@import url("https://fonts.googleapis.com/css2?family=Playball&family=Poppins:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playball", cursive;
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
