.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    background-color: transparent;
    color: #F6F6F6;
    position: fixed;
    width: 100%;
}

.nav__links ul {
    list-style: none;
    display: flex;
}

.nav__links ul li {
    width: 100px;
}