.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 13vh;
  background-color: transparent;
  color: #f6f6f6;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.nav__container1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  background-color: #0078aa;
  color: #f6f6f6;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.nav__links ul {
  list-style: none;
  display: flex;
}

.nav__links ul li {
  width: 100px;
}

.active1 {
  border-bottom: 3px solid #f2df3a;
}

.toggleIcon {
    font-size: 1.5em;
}

@media screen and (max-width: 991px) {
  .nav__links {
    position: absolute;
    top: calc(100% + 0vh);
    right: -100%;
    background-color: red;
    width: 100%;
  }

  .nav__links ul {
    flex-direction: column;
    line-height: 3rem;
  }

  .nav__links ul li {
    text-align: center;
    width: 100%;
  }

  .active {
    right: 0;
  }
}
